html{
	height: 100%;
}
body{
	height: 100%;
	padding: 0;
	margin: 0;
}
#mapa{
	height: 95%;
	
}
#botones{
	background: #33CD5F;
	height: 5%;
	position: absolute;
	text-align: center;
	width: 100%;
}
#botones a{
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	 margin: 0 auto;
}